<div class="container">
  <h2>LabSeq Demo</h2>

  <form #indexForm="ngForm">
    <div class="cross-validation"
      [class.cross-validation-error]="indexForm.errors && (indexForm.touched || indexForm.dirty)">
      <div class="form-group">

        <label for="name">Index Value</label>
        <input type="number" id="indexValue" name="indexValue" class="form-control" required min="0" max="20000"
          [(ngModel)]="index2Compute" #indexValueVal="ngModel">

        <div *ngIf="indexValueVal.invalid && (indexValueVal.dirty || indexValueVal.touched)" class="alert">

          <div *ngIf="indexValueVal.errors?.['required']">
            A value is required.
          </div>
          <div *ngIf="indexValueVal.errors?.['min']">
            Value must be greater or equal to 0.
          </div>
          <div *ngIf="indexValueVal.errors?.['max']">
            Maximum value is 20000.
          </div>
        </div>
      </div>

      <!-- <p>Complete the form to enable the Submit button.</p> -->
      <button type="button" (click)="postResult()" [disabled]="indexForm.invalid">Submit</button>

      <div *ngIf="result">
        <p> Result: {{result}} </p>
      </div>

    </div>
