<div class="container">
  <h1 class="heading"><strong>LabSeq </strong>Demo</h1>

  <div class="form-group">
    <label for="index2Compute">Index to Compute:</label>
    <input type="text" class="form-control" name="index2Compute" [(ngModel)]="index2Compute">
    <button type="button" (click)="getResult()">Submit</button>
  </div>

  <div *ngIf="loading">loading...</div>

  <div *ngIf="errorMessage" class="alert alert-warning">
    <strong>Warning!</strong> {{errorMessage | json}}
  </div>
  <div *ngIf="result">
    <p>
     Result: {{result}}
    </p>
  </div>
</div>
